.aakash{
    text-align: center;
}

.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.d1{
    margin: 5px;
}

#repos-container{
    border: 2px solid black;
    width: 70vw;
    margin-left: 250px;
}